*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

.textureBar {
    background-image: url("/statics/repeatingbar2.jpg");
    background-color: #607d8b;
    background-position: center top;
  }

  .mainLogo {
    max-width: 9%;
    max-height: auto;
    margin: 8px;

    @include respond(tab-port) {
        max-width: 40%;
    }

  }

html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 85%;
    }
}

body {
    box-sizing: border-box;    
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    background-color: #ebf3f4;
}

    // @include respond(tab-port) {
        
    // }

[v-cloak] {
    display:none;
  }