.eggStarter {
    fill:#278ea5;
}

.eggStarterRed {
    fill:#f44336;
}

.eggStarterPink {
    fill:#e91e63;
}

.eggStarterPurple {
    fill:#9c27b0;
}

.eggStarterBlue {
    fill:#2196f3;
}

.eggStarterCyan {
    fill:#00bcd4;
}

.eggStarterGreen {
    fill:#4caf50;
}

.eggStarterYellow {
    fill:#ffeb3b;
}

.eggStarterOrange {
    fill:#ff9800;
}

.eggStarterBrown {
    fill:#795548;
}

.eggStarterGrey {
    fill:#9e9e9e;
}
