.task {
    padding: 4px;
    border: 0px;
    margin-bottom: -3px;
}

.task-btn {
    margin: 1.5px;
}

.task-box {
    margin: 0;
}

.task-late {
    border-right: 1px;
}

.task-date {
    text-align: center;
    align-items: center;
    
    @include respond(big-desktop) {
       font-size: 12px;
       padding: 1px;
      }
   }