#tasklinContainer {
    position: relative;
    width: auto;
    height: auto;
  }

.tasklinBody {    
    z-index: 1;    
    position: absolute;
}

.tasklinFace {    
    z-index: 2;
    position: absolute;
}