@media screen and (min-width: 768px) {
    .auth-tabs {
      max-width: 40%;
      margin: auto;
      margin-top: 10%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .auth-tabs {
      max-width: 80%;
      margin: auto;
      margin-top: 10%;
    }
  }
  .bg-auth {
    background-image: url("http://www.tasklins.com/AboutPageAssets/images/trythis3.png");
    margin: auto;
    background-repeat: no-repeat;
    background-size: 50% 120%;
    background-position: center top;
  }

  .auth-input {
      padding: 2px;
  }

  .auth-section {
    padding: 2px;
  }

  .auth-register {
    background-color: #444444;
  }