.communityMain {
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

.shareUpdate-form {
    width: 400px;
    margin-left: 10px;
}

.shareUpdate-btn {
    width: 65px;
    margin-left: 23px;
    margin-top: 10px;
}