.world-map {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .btn-fixed-width {
    width: 200px
  }

  .world-day {
    background-image: url("/statics/backgrounds/WorldMap-min.jpg");    
    }
  
  .world-night {
    background-image: url("/statics/backgrounds/WorldMapNight-min.jpg");  
   }

   .map-town {
    background-image: url("/statics/backgrounds/map-town.png"); 
   }

   .map-forest {
    background-image: url("/statics/backgrounds/map-forest.png"); 
   }
