.world-map {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .map-size {
    width: 80%;
    height: 80%;

    @include respond(tab-port) {
      width: 97%;
      height: 97%;
     }
  }

  .btn-fixed-width {
    width: 200px
  }

  .world-day {
    background-image: url("/statics/backgrounds/WorldMap-min.jpg");    
    }
  
  .world-night {
    background-image: url("/statics/backgrounds/WorldMapNight-min.jpg");  
   }

   .map-town {
    background-image: url("/statics/backgrounds/map-town.png"); 
   }

   .map-forest {
    background-image: url("/statics/backgrounds/map-forest.png"); 
   }

   .map-moon {
    background-image: url("/statics/backgrounds/map-moon.png"); 
   }

   .night-sky {
    background-image: url("/statics/backgrounds/nightSky.png"); 
   }

   .night-stars {
    background-image: url("/statics/backgrounds/nightSky-stars.png"); 
   }

   .wish-star {
    margin-top: random(150) + px;
   }

   .town-piper {
    background-image: url("/statics/backgrounds/town-piper.png"); 
   }

   .town-blacksmith {
    background-image: url("/statics/backgrounds/town-blacksmith.png"); 
   }

   .coming-soon-sign {
     width: 30%;
     height: 30%;

     @include respond(tab-port) {
      width: 50%;
      height: 50%;
     }
   }