.add-task-btn {
    margin: 2rem;
    margin-bottom: -1rem;
}

.add-task-btn-footer {    
    margin: 8px;
    padding: 0px;
    width: 40px;
    height: 40px;      
}

.tasklin-details {
  background-color: #eceff190; 
  color: #000;
  width: 30%;
  border-radius: 1rem;
  padding: 7px;
  margin: 0 auto;
  margin-top: -1rem;
  margin-bottom: 2rem;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;

  @include respond(tab-land) {
    width: 50%;
   }
}

  
.egg {
  width: 20%;
  max-width: 50%;
  height: auto;
  margin: auto;
  margin-top: -80px;
  margin-left: 10px;
  padding: 10px;
  display: inline-block;
}


.tasklinName {
align-content: center;
border-radius: 1rem;
}

.tasklinNameBox {
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

.tasklinNameBtn {
  margin: 0 auto;
  border-radius: 1rem;
  }

.bonusImg {
    width: 50%;
    height: auto;
  }

  .infoImg {
    max-width: 80%;
  }

  .starterInfo {
    padding-bottom: 55px;
    height: 80vh;        
  }
  
  .bonusImg2 {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    animation: bounce;
    animation-duration: 1s;       
  }
    
  .bonusImg:hover {
    animation: bounce;
    animation-duration: 1s;
  }

  .bonusImgFocus {
    width: 200px;
    height: 200px;
    margin-left: -10px;

    @include respond(tab-port) {
      width: 150px;
      height: 150px;
      margin-bottom: -15px;
     }

  }

  .bonusBox {
    margin-left: -25px;

    @include respond(tab-port) {
      margin-left: 0px;
     }
  }

.index-header {    

 @include respond(tab-port) {
    font-size: 180%;
   }
}

.bonusHeader {    

  @include respond(tab-port) {
     font-size: 130%;
    }
 }

.randomEvent {
  width: 800px;
  text-align: left;

  @include respond(tab-port) {
    max-width: 90vw;
   }
}

.secretScroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.secretScroll::-webkit-scrollbar {
  display: none;
}

.section {
  overflow: auto;
  flex: auto;
  width: 30%;
  margin-bottom: 4rem;
}

.indexMenuBar {
  margin: 0 auto;
  margin-bottom: 10px;

  @include respond(tab-port) {
    width: 100%;
   }
}

.indexMenuButton {
  width: 175px;
  margin: 3px;

  @include respond(tab-port) {
    width: 100px;
   }

}

.newsMenuSection {
  margin: 0 auto;
}

.newsBtn {
  margin-top: 6px;
  margin-left: -12px;
  width: 100%;
  
  @include respond(phone) {
    width: 120px;
   }
}

.newsSection {
  background-color: #c2d4d5;
}

.newsPost {
  height: 80%;
}