.add-task-btn {
    margin: 2rem;
    margin-bottom: -1rem;
}

.add-task-btn-footer {    
    margin: 8px;
    padding: 0px;
    width: 40px;
    height: 40px;      
}

.bonusImg {
    width: 50%;
    height: auto;
  }

  .infoImg {
    width: 330px;
    height: 400px;
    box-shadow: 0 1rem 2rem rgba(black,.4);
  }

  .starterInfo {
    height: 60%;

    @include respond(tab-port) {
      height: 80%;
      margin-bottom: -15px;
     }
  }
  
  .bonusImg2 {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    animation: bounce;
    animation-duration: 1s;       
  }
    
  .bonusImg:hover {
    animation: bounce;
    animation-duration: 1s;
  }

  .bonusImgFocus {
    width: 90%;
    height: 100%;
    margin-left: -10px;

    @include respond(tab-port) {
      width: 150px;
      height: 150px;
      margin-bottom: -15px;
     }

  }

  .bonusBox {
    margin-left: -25px;

    @include respond(tab-port) {
      margin-left: 0px;
     }
  }

.index-header {    

 @include respond(tab-port) {
    font-size: 180%;
   }
}

.bonusHeader {    

  @include respond(tab-port) {
     font-size: 130%;
    }
 }

.randomEvent {
  width: 700px;
  text-align: left;

  @include respond(tab-port) {
    max-width: 90vw;
   }
}

.secretScroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.secretScroll::-webkit-scrollbar {
  display: none;
}