.add-task-btn {
    margin: 2rem;
    margin-bottom: -1rem;
}

.add-task-btn-footer {    
    margin-left: 20px;
    margin-top: 20px;
    padding: 0px;
    width: 40px;
    height: 40px;      
}

.scrollImg {
    width: 50%;
    height: auto;
  }
  
  .scrollImg2 {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
    animation: bounce;
    animation-duration: 1s;       
  }
    
  .scrollImg:hover {
    animation: bounce;
    animation-duration: 1s;
  }

.index-header {
    

 @include respond(tab-port) {
    font-size: 180%;
   }
}

// .section-about {
//     background-color: tasklin-grey-light;
//     padding: 25rem 0 25rem;
//     margin-top: -19vh;
//     margin-bottom: 14rem;

//     @include respond(tab-land) {
//         padding: 25rem 0;   
//         margin-top: -15vh;     
//         margin-bottom: 9rem;
//     }
// }

// .section-features {
//     padding: 20rem 0;
//     background-image:linear-gradient(
//         to right bottom,
//         rgba(green, 0.7),
//         rgba(tasklin-green-dark, 0.7)),
//         url(../img/hero.jpg);
//         background-size: cover;
//         transform: skewY(3.5deg);
//         margin-top: -10vh;

//         & > * {
//             transform: skewY(-3.5deg);
//         }

//         @include respond(tab-port) {
//             margin-top: -2vh;
//             padding: 10rem 0;
//         }

//         @include respond(tab-land) {
//             margin-top: -15vh;            
//         }
// }

// .section-tours {
//     background-color: tasklin-grey-light;
//     padding: 20rem 0 15rem 0;
//     margin-top: -10vh;

//     @include respond(tab-port) {
//         padding: 20rem 0 10rem 0;
//     }
// }

// .section-stories {
//     position: relative;
//     padding: 15rem 0;
//     background-image:linear-gradient(
//         to right bottom,
//         rgba(green, 0.7),
//         rgba(blue, 0.7)),
//         url(../img/hero.jpg);
//         transform: skewY(-3.5deg);
//         margin-top: -6vh;

//         & > * {
//             transform: skewY(3.5deg);
//         }

//         @include respond(tab-port) {
//             padding: 10rem 0;
//         }
// }

// .section-tours {
//     background-color: grey;
//     padding: 20rem 0 15rem 0;
//     margin-top: -10vh;

//     @include respond(tab-port) {
//         padding: 15rem 0 10rem 0;
//     }
// }

// .section-signup {
//     padding: 15rem 0;
//     background-image: linear-gradient(to right bottom, tasklin-green-light, tasklin-green-dark);
//     margin-top: -6vh;
//     z-index: 2;
// }

// .signup {
//     background-image: linear-gradient(105deg,
//         rgba(tasklin-white,.9) 0%,
//         rgba(tasklin-white,.9) 0%,        
//         transparent 50%),
//         url(../img/hero.jpg);
//     background-size: 100%;
//     border-radius: 3px;
//     box-shadow: 17px 17px 25px 0px rgba(tasklin-green-dark, .25);

//     height: 50rem;
//     margin-top: 2vh;

//     &__form {
//         width: 50%;
//         padding: 6rem;
//     }
    
// }