.planuaryDay {
    padding: 1rem;
    max-width: 60%;
    margin: 0 auto;

    @include respond(tab-port) {
        max-width: 100%;        
       }    
}

.focus-boxes {
    width: 350px;

    @include respond(tab-port) {
        width: 280px;        
       }    
}

.wish-moon {
    width: 10%;
    height: auto;

    @include respond(tab-port) {
        width: 30%;
    height: auto;     
       }    
}
