// app global css in Sass form
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/eggs";
@import "components/journal";
@import "components/projects";  
@import "components/tasklin";  
@import "components/tasks";  

@import "layout/header";
 
@import "pages/auth";
@import "pages/community";
@import "pages/explore";
@import "pages/help";
@import "pages/home";
@import "pages/initial";
@import "pages/journal";
@import "pages/november";
@import "pages/planuary";
@import "pages/todo"; 


@font-face {
    font-family: gopher;
    src: url(https://use.typekit.net/sgg2fvh.css);
  }
  
  // declare a class which applies it
  .gopher {
    font-family: 'gopher';
  }