//FONT
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//COLORS

$color-green-light: #479890;
$color-green-dark: #00655D;
$color-neutral: #B3A7B7;
$color-purple-light: #A080AB;
$color-purple-dark: #4E4351;